phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
sqlalchemy
pgvector
psycopg[binary]
pypdf
anthropic
sentence-transformers
python-multipart
PyJWT
passlib[bcrypt]
bcrypt
